.article-content .svg-img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #eee;
}

.article-content .svg-img .edges {
    stroke: #9999ff;
    stroke-width: 2;
}

.article-content .svg-img .nodes {
    fill: #ccc;
    stroke: white;
    stroke-width: 2;
}

.article-content .svg-img .node-label text {
    font-family: sans-serif;
    font-size: 12px;
    fill: black;
    alignment-baseline: central;
}

.label-left text {
    text-anchor: end;
}
